In [1]:
import pandas as pd

In [9]:
DataFrame=pd.read_csv('hepatitis.csv',header=None)
DataFrame.columns=['Class','AGE','SEX','STEROID','ANTIVIRALS','FATIGUE','MALAISE','ANOREXIA','LIVER BIG','LIVER FIRM','SPLEEN PALPABLE','SPIDERS','ASCITES','VARICES','BILIRUBIN','ALK PHOSPHATE','SGOT','ALBUMIN','PROTIME','HISTOLOGY']
DataFrame

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [10]:
DataFrame.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

In [11]:
DataFrame['SEX'].unique

<bound method Series.unique of 0      2
1      1
2      1
3      1
4      1
      ..
150    1
151    1
152    1
153    2
154    1
Name: SEX, Length: 155, dtype: int64>

In [12]:
SEX1=DataFrame[DataFrame['SEX']==1]
SEX1

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2,36,1,2,2,2,2,2,2,2,2,2,2,2,0.60,120,30,4.0,?,2
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [13]:
SEX2=DataFrame[DataFrame['SEX']==2]
SEX2

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
20,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.90,48,20,4.2,64,1
24,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.40,45,18,4.3,70,1
27,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.40,175,55,2.7,36,1
32,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.70,81,53,5.0,74,1
33,2,26,2,1,2,2,2,2,2,1,2,2,2,2,0.50,135,29,3.8,60,1
37,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
47,2,28,2,2,2,1,1,2,2,1,2,2,2,2,1.80,191,420,3.3,46,1
59,2,45,2,1,2,1,1,2,2,2,1,2,2,2,1.00,85,75,?,?,1
77,2,34,2,1,1,2,2,2,2,1,2,2,2,2,0.60,30,24,4.0,76,1
83,2,67,2,1,2,1,1,2,2,2,?,?,?,?,1.50,179,69,2.9,?,1
84,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
115,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

# Merge

In [14]:
Merged1=pd.concat([SEX1,SEX2])
Merged1

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
115,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

# Sort

In [15]:
Sorted=DataFrame.sort_values('AGE')
Sorted

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
110,2,7,1,2,2,2,2,2,2,1,1,2,2,2,0.70,256,25,4.2,?,2
37,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
148,2,20,1,1,2,2,2,2,2,?,2,2,2,2,0.90,89,152,4.0,?,2
121,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1.00,160,118,2.9,23,2
101,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2,67,2,1,2,1,1,2,2,2,?,?,?,?,1.50,179,69,2.9,?,1
115,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
147,1,70,1,1,2,1,1,1,?,?,?,?,?,?,1.70,109,528,2.8,35,2
133,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.00,115,52,3.4,50,2
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1

In [16]:
Sorted=DataFrame.sort_values('SGOT')
Sorted

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
74,2,50,1,2,2,2,2,2,2,2,2,2,2,2,1.50,100,100,5.3,?,1
131,1,31,1,1,2,1,1,1,2,2,1,2,2,2,8.00,?,101,2.2,?,2
45,2,28,1,2,2,1,1,2,2,2,2,2,2,2,0.70,74,110,4.4,?,1
144,1,45,1,2,2,1,1,1,2,2,2,1,1,2,1.90,?,114,2.4,?,2
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,1,39,1,1,1,1,1,2,2,1,2,2,2,2,2.30,280,98,3.8,40,1
6,1,51,1,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1
118,1,61,1,1,2,1,1,2,?,?,2,1,2,2,?,?,?,?,?,2
7,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,?,?,?,1
56,2,34,1,1,2,?,?,?,?,?,?,?,?,?,?,?,?,?,?,1

In [17]:
Sorted=DataFrame.sort_values('PROTIME')
Sorted

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
130,2,54,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,30,4.5,0,2
53,2,40,1,2,1,1,2,2,2,1,1,2,2,2,1.20,85,31,4.0,100,1
28,2,61,1,1,2,1,2,2,1,1,2,2,2,2,1.30,78,25,3.8,100,1
25,2,27,1,1,2,1,1,2,2,2,2,2,2,2,0.80,95,46,3.8,100,1
60,2,37,1,2,2,2,2,2,2,2,2,2,2,2,0.70,26,58,4.5,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2
50,2,39,1,1,2,2,2,2,2,2,2,2,2,2,0.90,85,60,4.0,?,1
99,2,60,1,1,2,1,2,2,1,1,1,1,2,2,?,?,40,?,?,2
97,2,44,1,1,2,1,1,2,1,1,2,1,2,2,3.00,114,65,3.5,?,2
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1

# Transpose

In [18]:
Transposed=DataFrame.T
Transposed

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
Class,2,2,2,2,2,2,1,2,2,2,...,2,1,1,2,2,1,2,2,2,1
AGE,30,50,78,31,34,34,51,23,39,30,...,31,41,70,20,36,46,44,61,53,43
SEX,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,1
STEROID,1,1,2,?,2,2,1,2,2,2,...,1,2,1,1,2,2,2,1,1,2
ANTIVIRALS,2,2,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
FATIGUE,2,1,1,2,2,2,1,2,1,2,...,1,1,1,2,2,1,1,1,1,1
MALAISE,2,2,2,2,2,2,2,2,2,2,...,2,2,1,2,2,1,2,1,2,2
ANOREXIA,2,2,2,2,2,2,1,2,2,2,...,2,2,1,2,2,1,2,2,2,2
LIVER BIG,1,1,2,2,2,2,2,2,2,2,...,2,2,?,2,2,2,2,1,2,2
LIVER FIRM,2,2,2,2,2,2,2,2,1,2,...,2,1,?,?,2,2,1,1,2,2
SPLEEN PALPABLE,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,2,2,2,1,1
SPIDERS,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,1,2,1,1,1
ASCITES,2,2,2,2,2,2,2,2,2,2,...,2,2,?,2,2,1,2,2,2,1
VARICES,2,2,2,2,2,2,2,2,2,2,...,2,1,?,2,2,1,2,2,1,2
BILIRUBIN,1.00,0.90,0.70,0.70,1.00,0.90,?,1.00,0.70,1.00,...,1.20,4.20,1.70,0.90,0.60,7.60,0.90,0.80,1.50,1.20
ALK PHOSPHATE,85,135,96,46,?,95,?,?,?,?,...,75,65,109,89,120,?,126,75,81,100
SGOT,18,42,32,52,200,28,?,?,48,120,...,173,120,528,152,30,242,142,20,19,19
ALBUMIN,4.0,3.5,4.0,4.0,4.0,4.0,?,?,4.4,3.9,...,4.2,3.4,2.8,4.0,4.0,3.3,4.3,4.1,4.1,3.1
PROTIME,?,?,?,80,?,75,?,?,?,?,...,54,?,35,?,?,50,?,?,48,42
HISTOLOGY,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2

# Melt

In [19]:
Melting=pd.melt(DataFrame,id_vars=['Class','AGE'],value_name='value',var_name='Metrics')
Melting

      Class  AGE    Metrics value
0         2   30        SEX     2
1         2   50        SEX     1
2         2   78        SEX     1
3         2   31        SEX     1
4         2   34        SEX     1
...     ...  ...        ...   ...
2785      1   46  HISTOLOGY     2
2786      2   44  HISTOLOGY     2
2787      2   61  HISTOLOGY     2
2788      2   53  HISTOLOGY     2
2789      1   43  HISTOLOGY     2

[2790 rows x 4 columns]

# Casting

In [20]:
Casting=pd.pivot_table(DataFrame,index=['Class','AGE'],values='HISTOLOGY')
Casting

           HISTOLOGY
Class AGE
1     30         2.0
      31         2.0
      33         2.0
      34         1.0
      35         2.0
...              ...
2     66         1.0
      67         1.0
      69         2.0
      72         2.0
      78         1.0

[71 rows x 1 columns]

# End